<h1>Searching...</h1>
<p>The catalogue number is <%= @catno %></p>
<p>The record is <%= @title %></p>
<p>There are <%= @num_pressings %> pressings</p>
<p>The record has been pressed in <%= @presses_years_num %> different years</p>
<p>The record has been pressed in <%= @presses_countries_num %> different countries</p>
