<title>Recky | <%= $title%></title>

<div>
<h2><%= $title %></h2>
<img src="<%= $album_cover_url%>" lead="Album cover for <%= $title %>" height="250">
<h3>Pressing: <%= @release_details %></h3>
</div>

<div>
<h3>Condition</h3>
<p><strong>New / Like new:</strong> $<%= sprintf("%.2f", @new).to_f %></p>
<p><strong>Used - Good / Excellent: </strong>$<%= sprintf("%.2f", @used_excellent).to_f %></p>
<p><strong>Used - Poor working conditiong: </strong>$<%= sprintf("%.2f", @used_working).to_f %></p>
<p><strong>Used - Non-working: $</strong><%= sprintf("%.2f", @used_poor).to_f %></p>
</div>
