<title>Recky | Results</title>

<div>
<h2><%= $title %></h2>
<img src="<%= $album_cover_url%>" lead="Album cover for <%= $title %>" height="250">
</div>

<div>
    <form action="/catalogue_search/detailed_search" method="get">
    <select name="release_details">
        <% $sorted_combinations.each do |item| %>
            <option><%= item %></option>
        <% end %>
    </select>
    <Button type="submit">Search</Button>
    </form>
</div>

<div>
<p><Strong>EXPERIMENTAL SECTION</Strong></p>

<h1>Dynamic Dropdown Menus</h1>

<%= form_tag({controller: "your", action: "process_form"}, method: "post") do %>
  <label for="year">Select Year:</label>
  <%= select_tag "year", options_for_select($combination_hash.map { |item| item["Year"] }.uniq) %>
  
  <label for="country">Select Country:</label>
  <%= select_tag "country", options_for_select($combination_hash.map { |item| item["Country"] }.uniq) %>
  
  <label for="text">Select Text:</label>
  <%= select_tag "text", options_for_select($combination_hash.map { |item| item["Text"] }.uniq) %>
  
  <%= submit_tag "Submit" %>
<% end %>

</div>  
